* {
    color: #ffffff;
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #121213;
}

.title-container {
    font-weight: bold;
    width: 100%;
    
}

.title-container h1{
    padding-top: 10px;
    text-align: right;
    font-display: right;
    font-weight: bold;
    font-size: 35px;
}

.simbols-container {
    position: absolute;
    right: 50px;
}


.simbols-container i{
    font-size: 35px;
    padding-right: 15px;
    cursor: pointer;
}

.bg-modal {
    background-color:#121213;
    border-radius: 8px;
    border: 1px solid #1a1a1b;
    box-shadow: 0 4px 23px 0 rgb(0 0 0 / 20%);
    box-sizing: border-box;
}

.help-modal {
    font-size: 14px;
    width: 90%;
    max-height: 100%;
    overflow-y: auto;
    /* padding: 16px; */

}

.example-row {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    width: 50%;
    font-weight: 800;
}

.ex-square {
    width: 25%;
    max-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    border: 1px solid #1a1a1b;
    border-radius: 8px;
    background-color: #121213 ;
    box-shadow: 0 4px 23px 0 rgb(0 0 0 / 20%);
    padding: 12px;
    box-sizing: border-box;
}

.ex-flip {
    animation: 0.5s linear flipping;
}

.stats-modal {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    line-height: 1em;
    padding: 2em 0;
}

.stats-modal span{
    grid-row: 1;
    color: #FAFAFF;
    font-size: 2em;
    padding-bottom: 0.5em;
}

.stats-modal p{
    grid-row: 2;
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding-top: 0.2em;
}

.stats-elements {
    margin-right: 1em;
}

/* .stats-progress {
    width: 85%;
    margin: 0 auto 1em auto;
    display: grid;
    grid-template-rows: repeate(7, 1fr);
    grid-template-columns: auto 1fr;
    grid-gap: 0.2em 0.2em;
    font-weight: 300;
    line-height: 1.5em;
}

.stats-progress p{
    font-weight: 500;
    text-align: center;
}
.stats-bar{
    min-width: 9%;
    font-weight: 300;
    box-sizing: border-box;
    padding: 0 0.75em;
    text-align: right;
} */

h2 {
    margin: 0.5em 0 0 0;
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.config-modal {
    font-size: 19px;
    width: 90%;
    max-height: 100%;
    overflow-y: auto;
}

.config-modal hr{
    margin-top: -5px;
}

a {
    color: #818384;
    text-decoration: underline;
}

a:hover {
    color: #ebe;
}


.modal-title {
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 2px;
    margin-top: 0px;
    display: block;
}

.modal-title h1 {
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.btn-close {
    background-color: #ffffff;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #3a3a3c;
    width: 100%;
}



.game-container {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


.tile-container {
    width: 330px;
    margin-bottom: 5px;
    margin-top: 20px;
}

.key-container {
    width: 510px;
    display: flex;
    flex-wrap: wrap;
}

.key-container button{
    width: 43px;
    height: 58px;
    border-radius: 4px;
    border: none;
    background-color: #818384;
    margin: 4px;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
}

.key-container button:nth-child(11) {
    margin-left: 30px;
}

.key-container button:nth-child(20),
.key-container button:nth-child(28) {
    width: 68px;
} 

.tile-container div{
    display: flex;
}

.tile-container .tile{
    width: 100%;
    height: 62px;
    border: 3px solid #3a3a3c;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px;
    margin-right: 5px;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 40px;
    text-transform: uppercase;
}

.message-container {
    height: 30px;
}

.message-container p {
    background-color: #ffffff;
    color: #121213;
    font-weight: bold;
    border-radius: 5px;
    padding: 10px;
    margin: 0;
}

.grey-overlay {
    background-color: #3a3a3c !important;
    border: none !important;
}

.yellow-overlay {
    background-color: #b59f3a !important;
    border: none !important;
}

.green-overlay {
    background-color: #538d4e !important;
    border: none !important;
}

.tile.shake {
    animation: shaking 0.82s cubic-bezier(.36,.07,.19,.97) both;
    animation-iteration-count: initial;
}

@keyframes shaking {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }
    
    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }
    
    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }
}

.tile.flip {
    animation: 0.5s linear flipping;
}

@keyframes flipping {
    0% {
        transform: rotateX(0deg);
    }
    50% {
        transform: rotateX(90deg);
    }
    100% {
        transform: rotateX(0deg);
    }
}


.tile.jump {
    animation: jumping 200ms;
    animation-fill-mode: forwards;
}

@keyframes jumping {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0);
    }
}

